#search-bar 
{
    text-align: center;
    padding: 20px;
    background: #f1e9d2;
    border-bottom: 2px solid #7A4419;
}

#search-bar input 
{
    padding: 10px;
    width: 250px;
    max-width: 90%;
    border: 1px solid #7A4419;
    border-radius: 5px;
    font-family: 'Cinzel', serif;
}
  
#search-bar button 
{
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #7A4419;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Cinzel', serif;
    cursor: pointer;
}

#search-bar button:hover
{
    background-color: #B9925E;
}